
# Python
__pycache__/
*.py[cod]
*$py.class

# Streamlit
.streamlit/secrets.toml

# Virtual Environment
venv/
env/

# Database
*.duckdb
*.db
*.wal
*.tmp

# OS
.DS_Store
Thumbs.db

# Docusaurus / Node.js
node_modules/
build/
.docusaurus/
.cache/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
